{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "로그인" %}{% endblock %}
<hr/>
{% block content %}
<div class = "text-center">
{% if process == "connect" %}
<h1>{% blocktrans with provider.name as provider %}{{ provider }}와 연결하기{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}{{ provider }}와 연결하시겠습니까?{% endblocktrans %}</p>
{% else %}
<h1>{% blocktrans with provider.name as provider %}{{ provider }}로 로그인하기{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %} {{ provider }}로 로그인하시겠습니까?{% endblocktrans %}</p>
{% endif %}

<form method="post">
  {% csrf_token %}

  <button class="btn btn-primary btn-xl text-uppercase" type="submit" >{% trans "연결하기" %}</button>

</form>
  </div>
{% endblock %}
