{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <h1>{% trans "Email 등록하기" %}</h1>
<hr/>
<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %} 사용자님은 {{provider_name}} 계정을 이용해 {{site_name}}에 접속을 시도하고 있습니다. 마지막 단계를 완료해주세요 {% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  {% csrf_token %}

  <div class="col-md-4">

      <div class="form-group">

          <lavel for="id_email">Email을 입력해주세요 </lavel>
          <input name="email" class="form-control" required_id="id_email" type="email" placeholder="enter email" autocomplete="email" />

      </div>
  </div>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <br/>
   <button class="btn btn-primary btn-xl text-uppercase" type="submit" >{% trans "회원가입" %} &raquo;</button>
</form>

{% endblock %}
