{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "비밀번호 바꾸기" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "비밀번호 바꾸기" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            <hr/>
            <div class="col-md-4">
             <div class="form-group">

                 <lavel for="id_password1">새 password를 입력해주세요</lavel>
                 <input name="password1" class="form-control" required_id="id_password1" type="password" placeholder="enter password" autocomplete="new-password" />

             </div>
                <br/>
                 <div class="form-group">

                 <lavel for="id_password2">다시한번 입력해주세요</lavel>
                 <input name="password2" class="form-control" required_id="id_password2" type="password" placeholder="enter password again"  />

             </div>
            </div>
<br/>
            <button class="btn btn-primary btn-xl text-uppercase" type="submit" > 바꾸기 </button>
        </form>
    {% endif %}
{% endblock %}
