{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="text-center">
    <br/><br/>
    <h1>{% trans "비밀번호 변경" %}</h1>
    <hr/>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "비밀번호 바꾸기" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "잊어버리셨나요?" %}</a>
    </form>
        </div>
{% endblock %}
