{% extends 'board/readdata.html' %}
{% load static %}
{% block contents_reply %}


        <form action="/reply/createreply/{{ post.id }}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-10 form-group">
                    <input name="contents" placeholder="댓글 내용을 입력해주세요."
                           class="form-control" type="text">
                </div>
                <div class="text-center">
                    <button class="btn btn-primary btn-xl text-uppercase" >댓글 저장</button>
                </div>

            </div>
        </form>

{% endblock %}