<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{% if post %}

    {{ post.id }}
    {{ post.title}} <br/>
    {% if post.writer == request.user %}
        <a href = "/board/updateget/{{post.id}}">수정하기</a>
        <a href = "/board/deleteget/{{post.id}}">삭제하기</a>
    {% endif %}
    {% if post.writer != request.user %}
        <a href = "/board/readdata">목록으로</a>
    {% endif %}
<br/>
<form action = "/reply/createreply/{{ post.id }}" method ="post">
{% csrf_token %}
 {{ replyform }}
    <button>save</button>
    </form>

{% for reply in post.reply_set.all %}
    {{ reply.contents }} <br/>
{% endfor %}

{% endif %}
</body>
</html>