{% extends 'base_board.html' %}
{% load static %}
{% block contents %}
    <body id="page-top" style="background-color: #8C8C8C;">

        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
                <div class="container">
                    <a class="navbar-brand" href="/"><img src="{% static 'imgfile/mm2.png' %}" alt="..." /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        Menu
                        <i class="fas fa-bars ms-1"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                            {% if request.user.is_authenticated %}
                                    <li class="nav-item"><a class="nav-link" href="/">User : {{request.user}}</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/accounts/logout/">logout</a></li>
                            {% else %}
                                    <li class="nav-item"><a class="nav-link" href="/accounts/login">login</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/accounts/signup">signup</a></li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </nav>
    {% if post %}
    <section class="page-section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="modal-body">

                        <h2 class="text-uppercase">{{ post.title }}</h2>
                        <ul class="list-inline">
                            <li>
                                <strong>글쓴이:</strong>
                                {{post.writer}}
                            </li>
                            <li>
                                <strong>작성시간:</strong>
                                {{post.create_date}}
                            </li>
                        </ul>
                        <hr/>
                        <!--<img class="img-fluid d-block mx-auto" src="{%static 'imgfile/django.png' %}" alt="..." />-->
                        <p>{{ post.contents | safe }}</p>
                        <div class="text-center">
                            {% for image in post.postimage_set.all %}
                                <img src="/media/{{image.image}}">
                                <br/>
                            {% endfor %}
                            </div>
                        <br/>
                        <button class="btn btn-primary btn-xl text-uppercase" onclick="location.href='/board/readlist'" type="button">
                            <i class="fas fa-xmark me-1"></i>
                            글 닫기
                        </button>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        {% if request.user == post.writer %}
                        <button class="btn btn-primary btn-xl text-uppercase" onclick="location.href='/board/updateget/{{post.id}}'" type="button">
                            글 수정
                        </button>
                        <button class="btn btn-primary btn-xl text-uppercase" onclick="location.href='/board/deleteget/{{post.id}}'" type="button">
                            글 삭제
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr/>
            {% block contents_reply %}

            {% endblock %}

            {% for reply in post.reply_set.all %}
            <hr/>
            <div class="portfolio-caption">
                <div class="portfolio-caption-heading">댓글 : {{ reply.contents }}</div>
                <hr/>
                <div class="portfolio-caption-subheading text-muted">작성자 : {{reply.writer}}</div>
                <div class="portfolio-caption-subheading text-muted">작성날짜 : {{reply.create_date}}</div>
                {% if reply.writer == request.user %}
                <a href = '/reply/deletereply/{{reply.id}}'>삭제하기</a>
                &nbsp&nbsp
                <a href = '/reply/updatereply/{{reply.id}}'>수정하기</a>
                {% endif %}
            </div>
            <hr/>

            {% endfor %}

        </div>
    </section>





    {% endif %}
    </body>




 {% endblock %}