{% extends 'base_board.html' %}
{% load static %}
{% block contents %}
   <body id="page-top"  style="background-color: #8C8C8C;">

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="/"><img src="{% static 'imgfile/mm2.png' %}" alt="..." /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        {% if request.user.is_authenticated %}
                                <li class="nav-item"><a class="nav-link" href="/">User : {{request.user}}</a></li>
                                <li class="nav-item"><a class="nav-link" href="/accounts/logout/">logout</a></li>
                        {% else %}
                                <li class="nav-item"><a class="nav-link" href="/accounts/login">login</a></li>
                                <li class="nav-item"><a class="nav-link" href="/accounts/signup">signup</a></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
<br/><br/><br/><br/>

        <div class = "container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">
                    <input name="title" class="form-control"  type="text"  value = "{{ post.title }}" placeholder="제목을 입력해주세요"  />
                </div>
                <textarea name = "contents" id = "summernote">{{post.contents}}</textarea>
                <br/>
                <hr/>
                <input multiple type="file" name="image" accept="image/*" id="id_image">
                <div class="text-center">
                    <button class="btn btn-primary btn-xl text-uppercase" >수정 완료</button>
                </div>
            </form>
        </div>
   <script>
      $('#summernote').summernote({
        placeholder: '내용을 입력해주세요',
        tabsize: 2,
        height: 120,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
    </script>
   {% endblock %}

