{% extends 'base.html' %}
{% load static %}
{% block contents %}
   <body id="page-top">

        <div class = "container">
            <form method="post">
                {% csrf_token %}
                <input name ="title" value = "{{ post.title }}" type = "text">
                <textarea name = "contents" id = "summernote">{{post.contents}}</textarea>
                <button>작성 완료</button>
            </form>
        </div>
   <script>
      $('#summernote').summernote({
        placeholder: '내용을 입력해주세요',
        tabsize: 2,
        height: 120,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
    </script>
   {% endblock %}

